@import "./var";
@import "./mixin";

input[type=text] {
    width: 100%;
    background: none;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    color: #fff;
    border-bottom: 1px solid white;
  }
  ::placeholder {
    color: #fff;
    opacity: 0.5
  }
  input#message{
      padding-bottom: 80px;
      margin-bottom: 20px;
  }
.button_submit{
    float: right;
    @include btnwhite; 
    padding: 18px 24px;
    border-radius: 8px;
    background-color: $white;
    color: #333136;
    text-transform : uppercase;
    font-weight: 600;
}
.button_submit:hover{
    @include btnhover; 
    padding: 18px 24px;
    border-radius: 8px;
    background-color: $lpeach;
    color: $white;
    text-transform : uppercase;
    }
.main_contact_contain{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    background-image: url(/src/img/about_us_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1111px;
    height: 480px;
    margin: 0 auto 160px;
    &_contactus{
        width: 450px;
        height: 184px;
    }
    &_contactus_h1{
        @include h1jm;
        color: $white;
        margin-bottom: 32px
    }
    &_contactus_p{
        @include bodyjr;
	    color: $white;
    }
    &_form_cont{
        @include bodyjr;
	    color: $white;
        width: 380px;
        margin-right: 35px;
    }
}
.contact_nav_country {
	height: 364px;
	width: 1110px;
	margin: 0 auto;
}

.contact_nav_country_ul {
	height: 364px;
	width: 1110px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.contact_nav_country_ul_li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.contact_nav_country_ul_li_h3 {
	@include h3jm;
	margin-bottom: 35px;
}

.contact_nav_country_ul_li_img {
	margin-bottom: 55px;
}

.contact_nav_country_ul_li_btn {
	@include btnred;
	&:hover {
		@include btnhover;
	}
}
article.footer_article{
    display: none;
}
section.footer_section{
    padding: 0;
    margin-top: 160px;
}

@media screen and (max-width:769px) {
header.bloc_header{
    width: 689px;
}
.main_contact_contain{    
    flex-direction: column;    
    justify-content: center;    
    max-width: 689px;
    height: 711px;    
    border-radius: 15px;
}
.contact_nav_country {
    height: 100%;
    width: 689px;
    margin: 0 auto;
}
    
.contact_nav_country_ul {
    height: 100%;
    width: 689px;
    flex-direction: column;
    justify-content: space-around;
}
    
.contact_nav_country_ul_li {
    margin-bottom: 50px
}
.last{
    margin-bottom: 0;
}
.contact_nav_country_ul_li_h3 {
    @include h3jm;
    margin-bottom: 30px;
}
    
.contact_nav_country_ul_li_img {
    margin-bottom: 30px;
}   
section.footer_section{
    margin-top: 100px;
}
}